
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e801'; } /* '' */
.icon-emo-wink:before { content: '\e802'; } /* '' */
.icon-emo-wink2:before { content: '\e803'; } /* '' */
.icon-emo-unhappy:before { content: '\e804'; } /* '' */